<% provide(:title, t("home.name")) %>
<% provide(:base_title, t("base.title")) %>
<div class="col-lg-9">
  <%= render "slide" %>
  <div class="row">
    <%= render @locations %>
  </div>
  <%= will_paginate @locations %>
</div>
