<% if objects.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <%= t("error_messages.contains", errors: pluralize(objects.errors.count, t("error_messages.error"))) %>
  </div>
  <ul>
    <% objects.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
