<% provide(:title, t("search_view.title")) %>
<% provide(:base_title, t("base.title")) %>
<div class="col-lg-9">
  <h1><%= t "search_view.h1" %></h1>
  <hr>
  <div class="row">
    <%= render @locations %>
  </div>
</div>
