<% provide(:title, t("menu_manager.booking_field")) %>
<% provide(:base_title, t("base.title")) %>
<div class="col-lg-9">
  <table class="table">
    <%= render "layouts/title" %>
    <tbody>
      <%= render @bookings %>
    </tbody>
  </table>
  <!-- Title -->
  <div class="d-flex justify-content-center">
    <%= will_paginate @bookings %>
  </div>
</div>
<%= javascript_pack_tag "handle_request_booking", "data-turbolinks-track": "reload" %>
